<div class="container" id="alta">
  <h4> Alta de Envíos</h4>
  <form class="form-inline">
    <div class="row">
      <!-- Remitente -->
      <div class="col-6">
        <!-- <div> -->
        <div class="shadow p-2 mb-3 my-bg-primary">
          <h5>Remitente</h5>
        </div>
        <!-- <div> -->
        <input class="form-control" [(ngModel)]="remitente.id" name="originalId" [ngModelOptions]="{standalone: true}"
          type="hidden">
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">RFC</span>
          </div>
          <input class="form-control" [(ngModel)]="remitente.rfc" name="origRfc" [ngModelOptions]="{standalone: true}"
            placeholder="" autofocus>
          <div class="input-group-prepend">
            <span class="input-group-text">Nombre</span>
          </div>
          <input class="form-control" [(ngModel)]="remitente.nombre" name="origNombre" placeholder="Nombres">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Paterno</span>
          </div>
          <input class="form-control" [(ngModel)]="remitente.apellido_paterno" name="origApellidoPaterno"
            [ngModelOptions]="{standalone: true}" placeholder="Apellido paterno">
          <div class="input-group-prepend">
            <span class="input-group-text">Materno</span>
          </div>
          <input class="form-control" [(ngModel)]="remitente.apellido_materno" name="origApellidoMaterno" placeholder="Apellido materno">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Dirección</span>
          </div>
          <input class="form-control" [(ngModel)]="remitente.direccion" name="origDireccion" placeholder="Calle numero" style="width: 80%">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Código Postal</span>
          </div>
          <select class="form-control" [(ngModel)]="remitente.codigo_postal" name="oriCodigoPostal" (change)="getRemitenteCodigoPostal()">
            <option [ngValue]="zip.codigo_postal" *ngFor="let zip of listZip">{{zip.codigo_postal}}</option>
          </select>
          <div class="input-group-prepend">
            <span class="input-group-text">Municipio</span>
          </div>
          <input id="oriMunicipio" class="form-control" placeholder="Del. o Mpio" [(ngModel)]="remitente.deleg_municipio"
            name="oriMunicipio">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Ciudad </span>
          </div>
          <input id="oriCiudad" class="form-control" placeholder="Ciudad" [(ngModel)]="remitente.ciudad" name="oriCiudad">
          <div class="input-group-prepend">
            <span class="input-group-text">Estado</span>
          </div>
          <input id="oriEst" class="form-control" placeholder="Estado" [(ngModel)]="remitente.estado" name="oriEstado">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input name="oriEmail" type="email" class="form-control" [(ngModel)]="remitente.email">
          <div class="input-group-prepend">
            <span class="input-group-text">Teléfono</span>
          </div>
          <input name="oriTelefono" type="tel" class="form-control" [(ngModel)]="remitente.telefono">
        </div>
      </div>
      <!-- Destinatario -->
      <div class="col-6">
        <div class="shadow p-2 mb-3 my-bg-primary">
          <h5>Destinatario</h5>
        </div>
        <input class="form-control" [(ngModel)]="consignatario.id" name="targetId" type="hidden">
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">RFC</span>
          </div>
          <input name="descRfc" class="form-control" [(ngModel)]="consignatario.rfc" placeholder="">
          <div class="input-group-prepend">
            <span class="input-group-text">Nombre</span>
          </div>
          <input name="desNombre" class="form-control" [(ngModel)]="consignatario.nombre" placeholder="primer y segundo nombre">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Paterno</span>
          </div>
          <input name="desPaterno" class="form-control" [(ngModel)]="consignatario.apellido_paterno" placeholder="Apellido paterno">
          <div class="input-group-prepend">
            <span class="input-group-text">Materno</span>
          </div>
          <input name="desMaterno" class="form-control" [(ngModel)]="consignatario.apellido_materno" placeholder="Apellido materno">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Dirección</span>
          </div>
          <input class="form-control" [(ngModel)]="consignatario.direccion" name="desDireccion" placeholder="Calle numero" style="width: 80%">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Código Postal</span>
          </div>
          <select class="form-control" id="desCodigopostal" [(ngModel)]="consignatario.codigo_postal" name="desCodigoPostal" (change)="getConsignatarioCodigoPostal()">
            <option [ngValue]="zip.codigo_postal" *ngFor="let zip of listZip">{{zip.codigo_postal}}</option>
          </select>
          <div class="input-group-prepend">
            <span class="input-group-text">Municipio</span>
          </div>
          <input id="desMunicipio" class="form-control" [(ngModel)]="consignatario.deleg_municipio" name="desMunicipio">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Ciudad</span>
          </div>
          <input id="desCiudad" class="form-control" [(ngModel)]="consignatario.ciudad" name="desCiudad">
          <div class="input-group-prepend">
            <span class="input-group-text">Estado</span>
          </div>
          <input id="desiEst" class="form-control" [(ngModel)]="consignatario.estado" name="desEstado">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input name="desEmail" type="email" class="form-control" [(ngModel)]="consignatario.email" name="desEmail">
          <div class="input-group-prepend">
            <span class="input-group-text">Teléfono</span>
          </div>
          <input name="desTelefono" type="tel" class="form-control" [(ngModel)]="consignatario.telefono">
        </div>
      </div>
      <!-- Medidas -->
      <div class="col-6">
        <div class="shadow p-2 mb-3 my-bg-primary">
          <h5>Medidas</h5>
        </div>
        <div class="form-group input-group-sm mb-2">
          <mat-radio-group name="tipoenvio" [(ngModel)]="tipoEnvio.id" (change)="selectType()">
            <mat-radio-button [value]="1">sobre</mat-radio-button>
            <mat-radio-button [value]="2">paquete</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Peso</span>
          </div>
          <input name="peso" type="number" class="form-control" [(ngModel)]="envio.peso" placeholder="0.00" 
          style="width: 100px" [disabled]="isSobre">
          <!-- </div>
        <div class="form-group input-group-sm mb-2"> -->
          <div class="input-group-prepend">
            <span class="input-group-text">Dimención</span>
          </div>
          <input matInput name="alto" type="number" class="form-control" [(ngModel)]="envio.alto" style="width: 100px"
            placeholder="Alto" [disabled]="isSobre">
          <input matInput name="ancho" type="number" class="form-control" [(ngModel)]="envio.ancho" style="width: 100px"
            placeholder="Ancho" [disabled]="isSobre">
          <input matInput name="largo" type="number" class="form-control" [(ngModel)]="envio.largo" style="width: 100px"
            placeholder="Largo" [disabled]="isSobre">
        </div>
      </div>
      <!-- Servicio -->
      <div class="col-6">
        <div class="shadow p-2 mb-3 my-bg-primary">
          <h5>Servicio</h5>
        </div>
        <mat-radio-group name="tiposervicio" [(ngModel)]="tipoServicio.id">
          <mat-radio-button [value]="1">Mismo día</mat-radio-button>
          <mat-radio-button [value]="2">Dia siguiente</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <button type="submit" class="btn my-btn-primary" (click)="salvarEnvio()">Aceptar</button>
    <button type="reset" class="btn my-btn-primary" (click)="envio = {}">Limpiar</button>
  </form>
</div>
