<div class="container">
  <h4> Alta de Envíos</h4>
  <form class="form-inline">
    <div class="row">
      <!-- Remitente -->
      <div class="col-6">
        <!-- <div> -->
        <div class="shadow p-2 mb-3 bg-primary text-white-50">
          <h5>Remitente</h5>
        </div>
        <!-- <div> -->
        <input class="form-control" [(ngModel)]="remitente.id" name="originalId" [ngModelOptions]="{standalone: true}"
          type="hidden">
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">RFC</span>
          </div>
          <input class="form-control" [(ngModel)]="remitente.rfc" name="origRfc" [ngModelOptions]="{standalone: true}"
            placeholder="" autofocus>
          <div class="input-group-prepend">
            <span class="input-group-text">Nombre</span>
          </div>
          <input class="form-control" [(ngModel)]="remitente.nombre" name="origNombre" placeholder="Nombres">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Paterno</span>
          </div>
          <input class="form-control" [(ngModel)]="remitente.apellido_paterno" name="origPaterno" [ngModelOptions]="{standalone: true}"
            placeholder="Apellido paterno">
          <div class="input-group-prepend">
            <span class="input-group-text">Materno</span>
          </div>
          <input class="form-control" [(ngModel)]="remitente.apellido_materno" name="origMaterno" placeholder="Apellido materno">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Código Postal</span>
          </div>
          <select class="form-control" [(ngModel)]="remitente.codigo_postal" name="oriCodigoPostal">
            <option>6900</option>
            <option>7200</option>
            <option>3600</option>
            <option>5400</option>
          </select>
          <div class="input-group-prepend">
            <span class="input-group-text">Municipio</span>
          </div>
          <input id="oriMunicipio" class="form-control" placeholder="Del. o Mpio">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Ciudad </span>
          </div>
          <input id="oriCiudad" class="form-control" placeholder="Ciudad">
          <div class="input-group-prepend">
            <span class="input-group-text">Estado</span>
          </div>
          <input id="oriEst" class="form-control" placeholder="Estado">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input name="oriEmail" type="email" class="form-control" [(ngModel)]="remitente.email">
          <div class="input-group-prepend">
            <span class="input-group-text">Teléfono</span>
          </div>
          <input name="oriTelefono" type="tel" class="form-control" [(ngModel)]="remitente.telefono">
        </div>
        <!-- </div> -->
        <!-- </div> -->
      </div>
      <!-- Destinatario -->
      <div class="col-6">
        <div class="shadow p-2 mb-3 bg-primary text-white-50">
          <h5>Destinatario</h5>
        </div>
        <input class="form-control" [(ngModel)]="consignatario.id" name="targetId" type="hidden">
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">RFC</span>
          </div>
          <input name="descRfc" class="form-control" [(ngModel)]="consignatario.rfc" placeholder="">
          <div class="input-group-prepend">
            <span class="input-group-text">Nombre</span>
          </div>
          <input name="desNombre" class="form-control" [(ngModel)]="consignatario.nombre" placeholder="primer y segundo nombre">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Paterno</span>
          </div>
          <input name="desPaterno" class="form-control" [(ngModel)]="consignatario.apellido_paterno" placeholder="Apellido paterno">
          <div class="input-group-prepend">
            <span class="input-group-text">Apellidos</span>
          </div>
          <input name="desMaterno" class="form-control" [(ngModel)]="consignatario.apellido_materno" placeholder="Apellido materno">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Código Postal</span>
          </div>
          <select class="form-control" id="desCodigopostal" [(ngModel)]="consignatario.codigo_postal" name="desCodigopostal">
            <option>6900</option>
            <option>7200</option>
            <option>3600</option>
            <option>5400</option>
          </select>
          <!-- </div>
      <div class="form-group input-group-sm mb-2"> -->
          <div class="input-group-prepend">
            <span class="input-group-text">Municipio</span>
          </div>
          <input id="desMunicipio" class="form-control">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Ciudad</span>
          </div>
          <input id="desCiudad" class="form-control">
          <div class="input-group-prepend">
            <span class="input-group-text">Estado</span>
          </div>
          <input id="desiEst" class="form-control">
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input name="desEmail" type="email" class="form-control" [(ngModel)]="consignatario.email">
          <div class="input-group-prepend">
            <span class="input-group-text">Teléfono</span>
          </div>
          <input name="desTelefono" type="tel" class="form-control" [(ngModel)]="consignatario.telefono">
        </div>
      </div>
      <!-- Medidas -->
      <div class="col-6">
        <div class="shadow p-2 mb-3 bg-primary text-white-50">
          <h5>Medidas</h5>
        </div>
        <div class="form-group input-group-sm mb-2">
            <mat-radio-group name="tipoenvio" [(ngModel)]="tipoEnvio.id">
                <mat-radio-button value="1" >sobre</mat-radio-button>
                <mat-radio-button value="2" >paquete</mat-radio-button>
              </mat-radio-group>
        </div>
        <div class="form-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Peso</span>
          </div>
          <input name="peso" type="number" class="form-control" [(ngModel)]="envio.peso" placeholder="0.00" style="width: 100px">
        <!-- </div>
        <div class="form-group input-group-sm mb-2"> -->
          <div class="input-group-prepend">
            <span class="input-group-text">Dimención</span>
          </div>
          <input matInput name="alto" type="number" class="form-control" [(ngModel)]="envio.alto" style="width: 100px"
            placeholder="Alto">
          <input matInput name="ancho" type="number" class="form-control" [(ngModel)]="envio.ancho" style="width: 100px"
            placeholder="Ancho">
          <input matInput name="largo" type="number" class="form-control" [(ngModel)]="envio.largo" style="width: 100px"
            placeholder="Largo">
        </div>
      </div>
      <!-- Servicio -->
      <div class="col-6">
        <div class="shadow p-2 mb-3 bg-primary text-white-50">
          <h5>Servicio</h5>
        </div>
        <mat-radio-group name="tiposervicio" [(ngModel)]="tipoServicio.id">
            <mat-radio-button value="1">Mismo día</mat-radio-button>
            <mat-radio-button value="2">Dia siguiente</mat-radio-button>
          </mat-radio-group>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="salvarEnvio()">Aceptar</button>
    <button type="reset" class="btn btn-primary" (click)="envio = {}">Limpiar</button>
  </form>
</div>

<!-- The Modal dialog -->

<div class="modal fade" id="dlgCreated">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmado</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div>
          <div style="text-align:center">
          </div>
          <div>
            Folio de la guía: 1234567890
          </div>
          <div>
            Consignatario: Nombre consignatario
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
